{% extends "main.html" %} {% block content %} {% include "header.html" %}


<div class='pane'>
    <div class="row padding-top padding-bottom">
        <div class="col-md-1"></div>
        <div class="col-md-10 padding-none">
            <div class="header">
                <h1>{{ category.name }}</h1>
            </div>
        </div>
    </div>

    <div class='flash'>
        {% with messages = get_flashed_messages() %} {% if messages %}

        <ul>
            {% for message in messages %}
            <li>
                <strong> {{ message }} </strong>
            </li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}

    </div>


</div>

{% for i in items %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3 item">
        <div class='name'>
            <span class='name'>
			<h3>{{i.name}}</h3>
		</span>
        </div>

        <div class='description'>
            <p>{{i.description}}</p>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}