<div class="row top-menu padding-top">

    <div class="col-md-6">
        <div class="col-md-2"></div>
        <a href="{{url_for('showCatalog')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Back to the Catalog!
        </a>
    </div>



    {%if 'username' in session %}
    <div class="col-md-6">
        <div class="col-md-8"></div>
        <a href="{{url_for('showUserItems')}}">Go to my items</a>
    </div>
    <div class="col-md-6">
        <div class="col-md-2"></div>
        <a href="{{url_for('newItem')}}">
            <button class="btn btn-default" id="new-item">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Item
					</button>
        </a>
    </div>
    {% endif %}


    <div class="col-md-6">
        <div class="col-md-8"></div>
        <div class="col-md-1">
            {%if 'username' not in session %}
            <a href="{{url_for('showLogin')}}">Login </a> {% else %}
            <a href="{{url_for('disconnect')}}">Logout </a> {% endif %}
        </div>
    </div>


</div>